/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mat-list-base .todo-list-item.mat-list-item > div.mat-list-item-content {
  flex: 1;
  padding: 0;
}

.mat-card-header .mat-card-header-text {
  order: 2;
}

/*mat selecttion list*/
.mat-list-item-content .mat-list-text {
  padding: 0 !important;
}
